In [2]:
    from utils import utils
    import pandas as pd
    dados = utils.get_base_de_dados()
    dados

       NUC   VAC   POX   ERL   MIT   ALM   GVH   MCG SEQUENCE NAME
0     0.58  0.61  0.47  0.13  0.50  0.00  0.48  0.22           MIT
1     0.43  0.67  0.48  0.27  0.50  0.00  0.53  0.22           MIT
2     0.64  0.62  0.49  0.15  0.50  0.00  0.53  0.22           MIT
3     0.58  0.44  0.57  0.13  0.50  0.00  0.54  0.22           NUC
4     0.42  0.44  0.48  0.54  0.50  0.00  0.48  0.22           MIT
...    ...   ...   ...   ...   ...   ...   ...   ...           ...
1479  0.81  0.62  0.43  0.17  0.50  0.00  0.53  0.22           ME2
1480  0.47  0.43  0.61  0.40  0.50  0.00  0.48  0.47           NUC
1481  0.67  0.57  0.36  0.19  0.50  0.00  0.56  0.22           ME2
1482  0.43  0.40  0.60  0.16  0.50  0.00  0.53  0.39           NUC
1483  0.65  0.54  0.54  0.13  0.50  0.00  0.53  0.22           CYT

[1484 rows x 9 columns]

In [14]:
nuc = dados['NUC'].apply(pd.to_numeric)
vac = dados['VAC'].apply(pd.to_numeric)
pox = dados['POX'].apply(pd.to_numeric)
erl = dados['ERL'].apply(pd.to_numeric)
mit = dados['MIT'].apply(pd.to_numeric)
alm = dados['ALM'].apply(pd.to_numeric)
gvh = dados['GVH'].apply(pd.to_numeric)
mcg = dados['MCG'].apply(pd.to_numeric)

In [15]:
from scipy.stats import friedmanchisquare

fs = friedmanchisquare(nuc, vac, pox, erl, mit, alm, gvh, mcg)
fs

FriedmanchisquareResult(statistic=6485.641180080098, pvalue=0.0)

In [16]:

import scikit_posthocs as sp
import numpy as np

data = np.array([nuc, vac, pox, erl, mit, alm, gvh, mcg])
sp.posthoc_nemenyi_friedman(data.T)

          0         1         2      3         4      5         6      7
0  1.000000  0.900000  0.010156  0.001  0.657971  0.001  0.011901  0.001
1  0.900000  1.000000  0.005643  0.001  0.561649  0.001  0.006671  0.001
2  0.010156  0.005643  1.000000  0.001  0.595249  0.001  0.900000  0.001
3  0.001000  0.001000  0.001000  1.000  0.001000  0.001  0.001000  0.900
4  0.657971  0.561649  0.595249  0.001  1.000000  0.001  0.622133  0.001
5  0.001000  0.001000  0.001000  0.001  0.001000  1.000  0.001000  0.001
6  0.011901  0.006671  0.900000  0.001  0.622133  0.001  1.000000  0.001
7  0.001000  0.001000  0.001000  0.900  0.001000  0.001  0.001000  1.000